<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Mission & Value</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,400i,700,700i,600,600i">
    <link rel="stylesheet" href="assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="assets/fonts/ionicons.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Cookie">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:300,400,600">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=PT+Sans">
    <link rel="stylesheet" href="assets/css/3-column-mobile-friendly.css">
    <link rel="stylesheet" href="assets/css/Article-List.css">
    <link rel="stylesheet" href="assets/css/Card-hover-affect-2.css">
    <link rel="stylesheet" href="assets/css/Footer-Basic.css">
    <link rel="stylesheet" href="assets/css/footer.css">
    <link rel="stylesheet" href="assets/css/Highlight-Clean.css">
    <link rel="stylesheet" href="assets/css/Highlight-Phone.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.3.1/css/swiper.min.css">
    <link rel="stylesheet" href="assets/css/Map-Clean.css">
    <link rel="stylesheet" href="assets/css/navigation.css">
    <link rel="stylesheet" href="assets/css/Simple-Slider.css">
    <link rel="stylesheet" href="assets/css/smoothproducts.css">
    <link rel="shortcut icon" href="assets/img/logoonly.ico" />
</head>

<body>
    <nav class="navbar navbar-light navbar-expand-md" style="background-color: #152a3b;">
        <div class="container-fluid"><a class="navbar-brand" href="/" style="background-image: url(&quot;assets/img/final.png&quot;);width: 200px;height: 50px;"> </a><button class="navbar-toggler" data-toggle="collapse" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon" style="background-color: #dad5c2;"></span></button>
            <div class="collapse navbar-collapse" id="navcol-1">
                <ul class="nav navbar-nav mx-auto"></ul>
                <ul class="nav navbar-nav">
                    <li class="nav-item" role="presentation"><a class="nav-link" href="/" style="color: rgb(203,175,147);">Home</a></li>
                    <li class="nav-item dropdown"><a class="dropdown-toggle nav-link" data-toggle="dropdown" aria-expanded="false"  style="color: rgb(203,175,147);">About US</a>
                        <div class="dropdown-menu" role="menu" style="background-color: rgba(203,175,147,0.85);"><a class="dropdown-item" role="presentation" href="/missionandvalue" style="font-size: 13px;font-weight: bold;">Mission &amp; Values</a><a class="dropdown-item" role="presentation" href="/partners" style="font-size: 13px;font-weight: bold;">Partners</a>
                            <a
                                class="dropdown-item" role="presentation" href="/investmentoption" style="font-size: 13px;font-weight: bold;">Investment Option</a><a class="dropdown-item" role="presentation" href="/investmentrelation" style="font-size: 13px;font-weight: bold;">INvestment RElation</a></div>
                    </li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="/newsandmedia" style="color: rgb(203,175,147);">News &amp; Media</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link active" href="/projects" style="color: rgb(203,175,147);">ProjectS</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="/contact-us" style="color: rgb(203,175,147);">Contact Us</a></li>
                </ul>
        </div>
        </div>
    </nav>
    <div class="highlight-clean">
        <div class="container">
            <div class="intro">
                <h2 class="text-center">Our Mission &amp; Values</h2>
                <p class="text-center"> </p>
            </div>

        </div>
    </div>
    <div class="highlight-phone">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <div class="intro">
                        <h2>Our Mission</h2>
                        <p>To provide affordable and luxurious homes for 6rst home owners and families</p></div>
                        <h2>Our Values</h2>
                        <p style="font-size:20px;">Quality<p>
                        <p>We are committed to serving the best product for our clients, ensuring the highest standards of quality and reliability in our homes. </p>
                        <p style="font-size:20px;">Diversity<p>
                        <p>We embrace people with different ideas, interest and cultural background to further develop our company’s growth.</p>
                        <p style="font-size:20px;">Community<p>
                            <p>The local community is an integral part of our developments, we are committed to enriching and improving the standard of living of our communities and developing products suited to their needs. </p>
                        <p style="font-size:20px;">Integrity<p>
                            <p>Honesty and fairness are essential cores to the way we conduct our business, we are committed to being professional, truthful, ethical, responsible and accountable for our actions</p>
                        <p style="font-size:20px;">Collaboration<p>
                            <p>We collaborate with our partners to ensure that we provide the best products for our customers and investors.
                                
                            </p>
                    </div>
                <div class="col-sm-4">
                    <div class="d-none d-md-block iphone-mockup"></div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="footer-basic" style="background-color: rgb(21,42,59);">
        <footer style="background-color: rgb(21,42,59);padding-top: 0px;padding-bottom: 0px;"></footer>
            
            <p
                class="text-center" style="color: rgb(203,175,147);font-weight: normal;font-family: Montserrat, sans-serif;">49 Allison Road, Mount Albert North 3129 | +61 458 698 618 | derrick.tugiono@gmail.com</p>
                <p class="copyright" style="font-family: Montserrat, sans-serif;color: rgb(203,175,147);font-weight: bold;opacity: 1;">Two Peaks Development © 2019</p>
        </footer>
    </div>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.js"></script>
    <script src="assets/js/smoothproducts.min.js"></script>
    <script src="assets/js/theme.js"></script>
    <script src="assets/js/Card-hover-affect-2.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.3.1/js/swiper.jquery.min.js"></script>
    <script src="assets/js/Simple-Slider.js"></script>
</body>

</html>
